# Realm
github "https://github.com/yahoojapan/SwiftyXMLParser" == 4.1.0
github "realm/realm-cocoa"
github "Alamofire/Alamofire"
github "robbiehanson/CocoaAsyncSocket" "master"
github "radex/SwiftyTimer" == 2.0
